[core]
	excludesfile = ~/.config/git/ignore
[init]
	defaultBranch = main
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[color]
	ui = 1
[alias]
	essa = push --force
	co = checkout
	fuck = commit --amend -m
	c = commit -m
	ca = commit -am
	forgor = commit --amend --no-edit
	graph = log --all --decorate --graph --oneline
	oops = checkout --
	l = log
	r = rebase
	s = status --short
	ss = status
	d = diff
	ps = !git push origin $(git rev-parse --abbrev-ref HEAD)
	pl = !git pull origin $(git rev-parse --abbrev-ref HEAD)
	st = status
	br = branch
	hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
	llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
{{ if eq .chezmoi.os "darwin" -}}
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
{{- end }}
